<ion-header>
  <ion-toolbar>
    <ion-title>Recipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="editRecipe()">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="recipe-detail-container">
    <img class="recipe-photo" [src]="recipe?.photos[0]" [alt]="recipe.title" />
    <h2 class="recipe-name">{{ recipe.title }}</h2>
    <div class="recipe-meta">
      <div>
        <ion-icon name="pricetag-outline"></ion-icon>
        <span class="category"> {{ recipe.categories?.join(", ") }}</span>
      </div>
      <div>
        <ion-icon name="time-outline"></ion-icon>
        <span> Cooking time: {{ recipe.cookingTime }} min</span>
      </div>
      <div>
        <ion-icon name="cash-outline"></ion-icon>
        <span> Cost: {{ recipe.cost }} {{ recipe.cost_unit }}</span>
      </div>
      <div>
        <ion-icon name="cart-outline"></ion-icon>
        <span> Ingredients:</span>
        <ion-list class="ingredients-list" style="margin-top: 0.5rem">
          @for (ingredient of ingredients; track ingredient) {
          <ion-item class="ingredient-item">
            <ion-label>
              {{ ingredient.name }} -
              {{ ingredient.quantity }}
              {{ ingredient.units }}
            </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
      <div>
        <ion-icon name="information-circle-outline"></ion-icon>
        <span> Description: {{ recipe.description }}</span>
      </div>

      <div>
        <ion-icon name="play"></ion-icon>
        <span> Instructions:</span>
        <ion-list class="ingredients-list" style="margin-top: 0.5rem">
          @for (inst of recipe.instructions; let i= $index;track inst) {
          <ion-item class="instruction-item">
            <ion-label> {{ i + 1 }}. {{ inst }} </ion-label>
          </ion-item>
          }
        </ion-list>
      </div>
    </div>
    <div class="recipe-dates">
      <small>Created: {{ recipe.createdAt | date : "short" }}</small>
      <small>Updated: {{ recipe.updatedAt | date : "short" }}</small>
    </div>
  </div>
  <ion-label color="danger" (click)="deleteRecipe()">Delete Recipe</ion-label>
</ion-content>
