<ion-header>
  <ion-toolbar>
    <ion-title>Meal Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="done()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="header">
    <h2>Add {{ currentRecipe?.title }}</h2>
  </div>
  @for (month of groupedDays; track month.name) {
  <div class="month-group">
    <h3 class="month-title">{{ month.name }}</h3>
    <div class="days-list">
      @for (day of month.days; track day.date) {
      <div class="calendar-day" [class.today]="day.isToday">
        <span class="date-label">{{ day.date | date : "EEE, MMM d" }}</span>

        <!-- Lunch line -->
        <div class="meal-section">
          <strong>Lunch:</strong>
          <ng-container *ngIf="day.lunchRecipes.scheduleId; else addLunch">
            <span class="assigned-recipe">
              {{ day.lunchRecipes.title }}
              <ion-button
                size="small"
                fill="clear"
                (click)="addRecipe(day.date, day.lunchRecipes, 'lunch')"
              >
                <mat-icon>swap_horiz</mat-icon>
                Replace
              </ion-button>
            </span>
            <ion-button
              color="danger"
              fill="clear"
              (click)="removeRecipe(day.lunchRecipes.scheduleId)"
            >
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ng-container>
          <ng-template #addLunch>
            <ion-button
              size="small"
              fill="outline"
              (click)="addRecipe(day.date, day.lunchRecipes, 'lunch')"
            >
              <ion-icon name="add"></ion-icon>
              Add Recipe
            </ion-button>
          </ng-template>
        </div>

        <!-- Dinner line -->
        <div class="meal-section">
          <strong>Dinner:</strong>
          <ng-container *ngIf="day.dinnerRecipes.scheduleId; else addDinner">
            <span class="assigned-recipe">
              {{ day.dinnerRecipes.title }}
              <ion-button
                size="small"
                fill="clear"
                (click)="addRecipe(day.date, day.dinnerRecipes, 'dinner')"
              >
                <mat-icon>swap_horiz</mat-icon>
                Replace
              </ion-button>
            </span>
            <ion-button
              color="danger"
              fill="clear"
              (click)="removeRecipe(day.dinnerRecipes.scheduleId)"
            >
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ng-container>
          <ng-template #addDinner>
            <ion-button
              size="small"
              fill="outline"
              (click)="addRecipe(day.date, day.dinnerRecipes, 'dinner')"
            >
              <ion-icon name="add"></ion-icon>
              Add Recipe
            </ion-button>
          </ng-template>
        </div>
      </div>
      }
    </div>
  </div>
  }
</ion-content>
