ion-content {
  --background: #edf0f7; /* Sets a light background color */
}
ion-list {
  --background: #edf0f7; /* Sets a light background color */
}

ion-card {
  overflow: visible !important;
}

.grid-list {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  gap: 5px;
  justify-content: center; /* Center the grid items horizontally */

  background: transparent; /* Ensure grid-list background is transparent */
}

.category-row {
  margin-bottom: 1rem;
}

.category-title {
  margin: 0 0 0 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #222;
}

.slider-row {
  display: flex;
  gap: 10px;
  padding-left: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  height: 115px;
  align-items: flex-end; // Align children to the bottom
}

.ingredient-chip-wrapper {
  flex: 0 0 auto; // Prevent shrinking, allow horizontal stacking
  position: relative;
  display: inline-block; // or flex if you want
}

.shopping-cart-chip {
  position: absolute;
  top: -15px; // Adjust as needed
  right: -15px; // Adjust as needed
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 1.6rem;
    color: #000000;
  }

  .ordered-number {
    position: absolute;
    top: 3px;
    right: 3px;
    background: #fff;
    color: #3880ff;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3880ff;
  }
}
