<ion-content>
  <!-- Search Field -->
  <app-search
    [items]="ingridients"
    [selectedCategories]="selectedCategories"
    (filteredItems)="onFilteredIngridients($event)"
  >
  </app-search>
  @if (ingridients.length == 0) {
  <ion-list>
    <ion-item>
      <ion-label>There are no ingridients</ion-label>
    </ion-item>
  </ion-list>
  } @else { @for (group of getIngridientsByCategory(); track group.category) {
  <div class="category-row">
    <h3 class="category-title">{{ group.category }}</h3>
    <div class="slider-row">
      @for (ingridient of group.ingridients; track ingridient.id) {
      <app-ingridient [ingridient]="ingridient"></app-ingridient>
      }
    </div>
  </div>
  } }
</ion-content>
