<div class="notifications-section">
  <h2>Notifications</h2>
  @for(ing of outOfStockIngredients; track ing) {
  <div class="alert-message" *ngIf="ing.stock == 0">
    <ion-icon name="alert-circle-outline" color="danger"></ion-icon>
    <span>{{ ing.name }} is out of stock!</span>
  </div>
  <div class="warning-message" *ngIf="ing.stock > 0">
    <ion-icon name="warning-outline" color="warning"></ion-icon>
    <span>{{ ing.name }} is running low!</span>
  </div>
  } @if(outOfStockIngredients.length === 0) {

  <div class="no-notifications">
    <span> - No new notifications</span>
  </div>
  }
</div>
