<ion-content class="ion-padding home-content">
  <!-- App Title and Slogan -->
  <div class="home-header">
    <h1>
      <ion-icon name="restaurant-outline" class="logo-icon"></ion-icon>
      SmartChef
    </h1>
    <p class="slogan">
      Your smart kitchen companion for
      <span class="highlight">effortless meal planning</span>!
    </p>
  </div>

  <!-- Today's Recipes -->
  <section class="home-section">
    <h2>
      <ion-icon name="sunny-outline"></ion-icon>
      Let's cook today!
    </h2>
    <app-today></app-today>
  </section>

  <!-- Notifications: Ingredients with No Stock -->
  <section class="home-section">
    <h2>
      <ion-icon name="notifications"></ion-icon>
      Notifications
    </h2>
    <app-notifications></app-notifications>
  </section>

  <!-- New Recipes Recommendations -->
  <section class="home-section">
    <h2>
      <ion-icon name="sparkles-outline"></ion-icon>
      Recommended Recipes
    </h2>
    <app-recommendations></app-recommendations>
  </section>
</ion-content>
